In [1]:
import numpy as np
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [31]:
data_path = '/content/drive/MyDrive/Colab Notebooks/Statistical Learning II/Laboratorio2/supermarket_sales.csv'
dataset = pd.read_csv(data_path)
dataset.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [32]:
dataset.shape

(1000, 17)

# **Preprocesamiento de Datos.**

In [33]:
#Eliminamos las columnas innecesarias que serian: Invoice ID, gross margin percentage, date

dataset.drop(['Invoice ID','gross margin percentage', 'Time', 'Date' ], axis = 1, inplace = True)

In [34]:
#verificación de NAs
dataset.isnull().sum()

Branch           0
City             0
Customer type    0
Gender           0
Product line     0
Unit price       0
Quantity         0
Tax 5%           0
Total            0
Payment          0
cogs             0
gross income     0
Rating           0
dtype: int64

In [35]:
dataset['Branch'].value_counts()

A    340
B    332
C    328
Name: Branch, dtype: int64

In [36]:
dataset['City'].value_counts()

Yangon       340
Mandalay     332
Naypyitaw    328
Name: City, dtype: int64

In [37]:
dataset['Customer type'].value_counts()

Member    501
Normal    499
Name: Customer type, dtype: int64

In [38]:
dataset['Gender'].value_counts()

Female    501
Male      499
Name: Gender, dtype: int64

In [39]:
dataset['Product line'].value_counts()

Fashion accessories       178
Food and beverages        174
Electronic accessories    170
Sports and travel         166
Home and lifestyle        160
Health and beauty         152
Name: Product line, dtype: int64

In [40]:
dataset['Payment'].value_counts()

Ewallet        345
Cash           344
Credit card    311
Name: Payment, dtype: int64

In [41]:
#One Hot Encoding
ohe = pd.get_dummies(dataset['Branch'], drop_first=True)
dataset.drop('Branch', axis=1, inplace=True)
dataset = dataset.join(ohe)
dataset.head()

,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Payment,cogs,gross income,Rating,B,C
0,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,Ewallet,522.83,26.1415,9.1,0,0
1,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,Cash,76.40,3.8200,9.6,0,1
2,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,Credit card,324.31,16.2155,7.4,0,0
3,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,Ewallet,465.76,23.2880,8.4,0,0
4,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,Ewallet,604.17,30.2085,5.3,0,0

In [42]:
ohe = pd.get_dummies(dataset['Gender'], drop_first=True)
dataset.drop('Gender', axis=1, inplace=True)
dataset = dataset.join(ohe)
dataset.head()

,City,Customer type,Product line,Unit price,Quantity,Tax 5%,Total,Payment,cogs,gross income,Rating,B,C,Male
0,Yangon,Member,Health and beauty,74.69,7,26.1415,548.9715,Ewallet,522.83,26.1415,9.1,0,0,0
1,Naypyitaw,Normal,Electronic accessories,15.28,5,3.8200,80.2200,Cash,76.40,3.8200,9.6,0,1,0
2,Yangon,Normal,Home and lifestyle,46.33,7,16.2155,340.5255,Credit card,324.31,16.2155,7.4,0,0,1
3,Yangon,Member,Health and beauty,58.22,8,23.2880,489.0480,Ewallet,465.76,23.2880,8.4,0,0,1
4,Yangon,Normal,Sports and travel,86.31,7,30.2085,634.3785,Ewallet,604.17,30.2085,5.3,0,0,1

In [43]:
ohe = pd.get_dummies(dataset['City'], drop_first=True)
dataset.drop('City', axis=1, inplace=True)
dataset = dataset.join(ohe)
dataset.head()

,Customer type,Product line,Unit price,Quantity,Tax 5%,Total,Payment,cogs,gross income,Rating,B,C,Male,Naypyitaw,Yangon
0,Member,Health and beauty,74.69,7,26.1415,548.9715,Ewallet,522.83,26.1415,9.1,0,0,0,0,1
1,Normal,Electronic accessories,15.28,5,3.8200,80.2200,Cash,76.40,3.8200,9.6,0,1,0,1,0
2,Normal,Home and lifestyle,46.33,7,16.2155,340.5255,Credit card,324.31,16.2155,7.4,0,0,1,0,1
3,Member,Health and beauty,58.22,8,23.2880,489.0480,Ewallet,465.76,23.2880,8.4,0,0,1,0,1
4,Normal,Sports and travel,86.31,7,30.2085,634.3785,Ewallet,604.17,30.2085,5.3,0,0,1,0,1

In [44]:
ohe = pd.get_dummies(dataset['Product line'], drop_first=True)
dataset.drop('Product line', axis=1, inplace=True)
dataset = dataset.join(ohe)
dataset.head()

,Customer type,Unit price,Quantity,Tax 5%,Total,Payment,cogs,gross income,Rating,B,C,Male,Naypyitaw,Yangon,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
0,Member,74.69,7,26.1415,548.9715,Ewallet,522.83,26.1415,9.1,0,0,0,0,1,0,0,1,0,0
1,Normal,15.28,5,3.8200,80.2200,Cash,76.40,3.8200,9.6,0,1,0,1,0,0,0,0,0,0
2,Normal,46.33,7,16.2155,340.5255,Credit card,324.31,16.2155,7.4,0,0,1,0,1,0,0,0,1,0
3,Member,58.22,8,23.2880,489.0480,Ewallet,465.76,23.2880,8.4,0,0,1,0,1,0,0,1,0,0
4,Normal,86.31,7,30.2085,634.3785,Ewallet,604.17,30.2085,5.3,0,0,1,0,1,0,0,0,0,1

In [45]:
ohe = pd.get_dummies(dataset['Payment'], drop_first=True)
dataset.drop('Payment', axis=1, inplace=True)
dataset = dataset.join(ohe)
dataset.head()

,Customer type,Unit price,Quantity,Tax 5%,Total,cogs,gross income,Rating,B,C,Male,Naypyitaw,Yangon,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel,Credit card,Ewallet
0,Member,74.69,7,26.1415,548.9715,522.83,26.1415,9.1,0,0,0,0,1,0,0,1,0,0,0,1
1,Normal,15.28,5,3.8200,80.2200,76.40,3.8200,9.6,0,1,0,1,0,0,0,0,0,0,0,0
2,Normal,46.33,7,16.2155,340.5255,324.31,16.2155,7.4,0,0,1,0,1,0,0,0,1,0,1,0
3,Member,58.22,8,23.2880,489.0480,465.76,23.2880,8.4,0,0,1,0,1,0,0,1,0,0,0,1
4,Normal,86.31,7,30.2085,634.3785,604.17,30.2085,5.3,0,0,1,0,1,0,0,0,0,1,0,1

In [46]:
ohe = pd.get_dummies(dataset['Customer type'], drop_first=True)
dataset.drop('Customer type', axis=1, inplace=True)
dataset = dataset.join(ohe)
dataset.head()

,Unit price,Quantity,Tax 5%,Total,cogs,gross income,Rating,B,C,Male,Naypyitaw,Yangon,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel,Credit card,Ewallet,Normal
0,74.69,7,26.1415,548.9715,522.83,26.1415,9.1,0,0,0,0,1,0,0,1,0,0,0,1,0
1,15.28,5,3.8200,80.2200,76.40,3.8200,9.6,0,1,0,1,0,0,0,0,0,0,0,0,1
2,46.33,7,16.2155,340.5255,324.31,16.2155,7.4,0,0,1,0,1,0,0,0,1,0,1,0,1
3,58.22,8,23.2880,489.0480,465.76,23.2880,8.4,0,0,1,0,1,0,0,1,0,0,0,1,0
4,86.31,7,30.2085,634.3785,604.17,30.2085,5.3,0,0,1,0,1,0,0,0,0,1,0,1,1

In [47]:
dataset

,Unit price,Quantity,Tax 5%,Total,cogs,gross income,Rating,B,C,Male,Naypyitaw,Yangon,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel,Credit card,Ewallet,Normal
0,74.69,7,26.1415,548.9715,522.83,26.1415,9.1,0,0,0,0,1,0,0,1,0,0,0,1,0
1,15.28,5,3.8200,80.2200,76.40,3.8200,9.6,0,1,0,1,0,0,0,0,0,0,0,0,1
2,46.33,7,16.2155,340.5255,324.31,16.2155,7.4,0,0,1,0,1,0,0,0,1,0,1,0,1
3,58.22,8,23.2880,489.0480,465.76,23.2880,8.4,0,0,1,0,1,0,0,1,0,0,0,1,0
4,86.31,7,30.2085,634.3785,604.17,30.2085,5.3,0,0,1,0,1,0,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,40.35,1,2.0175,42.3675,40.35,2.0175,6.2,0,1,1,1,0,0,0,1,0,0,0,1,1
996,97.38,10,48.6900,1022.4900,973.80,48.6900,4.4,1,0,0,0,0,0,0,0,1,0,0,1,1
997,31.84,1,1.5920,33.4320,31.84,1.5920,7.7,0,0,1,0,1,0,1,0,0,0,0,0,0
998,65.82,1,3.2910,69.1110,65.82,3.2910,4.1,0,0,1,0,1,0,0,0,1,0,0,0,1
999,88.34,7,30.9190,649.2990,618.38,30.9190,6.6,0,0,0,0,1,1,0,0,0,0,0,0,0

In [48]:
from sklearn import preprocessing

def encode_features(dataset) :
    features = ['Quantity']
    
    for feature in features :
        le = preprocessing.LabelEncoder()
        le = le.fit(dataset[feature])
        dataset[feature] = le.transform(dataset[feature])
        
    return dataset

dataset = encode_features(dataset)
dataset.head()

,Unit price,Quantity,Tax 5%,Total,cogs,gross income,Rating,B,C,Male,Naypyitaw,Yangon,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel,Credit card,Ewallet,Normal
0,74.69,6,26.1415,548.9715,522.83,26.1415,9.1,0,0,0,0,1,0,0,1,0,0,0,1,0
1,15.28,4,3.8200,80.2200,76.40,3.8200,9.6,0,1,0,1,0,0,0,0,0,0,0,0,1
2,46.33,6,16.2155,340.5255,324.31,16.2155,7.4,0,0,1,0,1,0,0,0,1,0,1,0,1
3,58.22,7,23.2880,489.0480,465.76,23.2880,8.4,0,0,1,0,1,0,0,1,0,0,0,1,0
4,86.31,6,30.2085,634.3785,604.17,30.2085,5.3,0,0,1,0,1,0,0,0,0,1,0,1,1

In [49]:
y = dataset['Quantity']
X = dataset.drop('Quantity', axis = 1)

In [50]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [51]:
std_scaler = StandardScaler()
X = std_scaler.fit_transform(X)

In [52]:
#partición de data para entrenamiento y prueba.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True)

**Descripción de Arquitectura de Red con Keras**

In [53]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [54]:
inputs = X_train.shape[1]

#base secuencial para definir la estructura de la Red (SIEMPRE INICIAR CON SQUENTIAL)
clasificador = Sequential()

#primera capa oclta
clasificador.add(Dense(input_dim = inputs, units=6, activation='relu', kernel_initializer='uniform'))

#segunda capa oculta
clasificador.add(Dense(units=6, activation='relu', kernel_initializer='uniform'))

#capa de salida
clasificador.add(Dense(units=1, activation='sigmoid', kernel_initializer='uniform'))

In [55]:
#parametros de optimización
clasificador.compile(optimizer='Nadam', loss='binary_crossentropy', metrics=['accuracy'])

#parametros de entrenamiento.
clasificador.fit(X_train, y_train, batch_size=25, epochs=150)

Epoch 1/150
32/32 [==============================] - 1s 2ms/step - loss: 0.6283 - accuracy: 0.0875
Epoch 2/150
32/32 [==============================] - 0s 2ms/step - loss: 0.3906 - accuracy: 0.0875
Epoch 3/150
32/32 [==============================] - 0s 2ms/step - loss: -0.2486 - accuracy: 0.0875
Epoch 4/150
32/32 [==============================] - 0s 2ms/step - loss: -1.7700 - accuracy: 0.0875
Epoch 5/150
32/32 [==============================] - 0s 2ms/step - loss: -4.5193 - accuracy: 0.0875
Epoch 6/150
32/32 [==============================] - 0s 2ms/step - loss: -8.8246 - accuracy: 0.0875
Epoch 7/150
32/32 [==============================] - 0s 2ms/step - loss: -15.1104 - accuracy: 0.0875
Epoch 8/150
32/32 [==============================] - 0s 2ms/step - loss: -23.5779 - accuracy: 0.0875
Epoch 9/150
32/32 [==============================] - 0s 2ms/step - loss: -34.8232 - accuracy: 0.0875
Epoch 10/150
32/32 [==============================] - 0s 3ms/step - loss: -49.2017 - accuracy: 0.0875
Epoch 11/150
32/32 [==============================] - 0s 3ms/step - loss: -66.9262 - accuracy: 0.0875
Epoch 12/150
32/32 [==============================] - 0s 2ms/step - loss: -88.0380 - accuracy: 0.0875
Epoch 13/150
32/32 [==============================] - 0s 2ms/step - loss: -113.1971 - accuracy: 0.0875
Epoch 14/150
32/32 [==============================] - 0s 2ms/step - loss: -142.5346 - accuracy: 0.0875
Epoch 15/150
32/32 [==============================] - 0s 2ms/step - loss: -176.0923 - accuracy: 0.0875
Epoch 16/150
32/32 [==============================] - 0s 2ms/step - loss: -214.3148 - accuracy: 0.0875
Epoch 17/150
32/32 [==============================] - 0s 2ms/step - loss: -257.7806 - accuracy: 0.0875
Epoch 18/150
32/32 [==============================] - 0s 2ms/step - loss: -306.3362 - accuracy: 0.0875
Epoch 19/150
32/32 [==============================] - 0s 2ms/step - loss: -361.0488 - accuracy: 0.0875
Epoch 20/150
32/32 [==============================] - 0s 2ms/step - loss: -421.7246 - accuracy: 0.0875
Epoch 21/150
32/32 [==============================] - 0s 2ms/step - loss: -488.4853 - accuracy: 0.0875
Epoch 22/150
32/32 [==============================] - 0s 2ms/step - loss: -561.9236 - accuracy: 0.0875
Epoch 23/150
32/32 [==============================] - 0s 2ms/step - loss: -641.6318 - accuracy: 0.0875
Epoch 24/150
32/32 [==============================] - 0s 2ms/step - loss: -729.2798 - accuracy: 0.0875
Epoch 25/150
32/32 [==============================] - 0s 2ms/step - loss: -822.2375 - accuracy: 0.0875
Epoch 26/150
32/32 [==============================] - 0s 2ms/step - loss: -922.7420 - accuracy: 0.0875
Epoch 27/150
32/32 [==============================] - 0s 2ms/step - loss: -1029.9937 - accuracy: 0.0875
Epoch 28/150
32/32 [==============================] - 0s 2ms/step - loss: -1145.8336 - accuracy: 0.0875
Epoch 29/150
32/32 [==============================] - 0s 2ms/step - loss: -1268.7538 - accuracy: 0.0875
Epoch 30/150
32/32 [==============================] - 0s 2ms/step - loss: -1399.5277 - accuracy: 0.0875
Epoch 31/150
32/32 [==============================] - 0s 2ms/step - loss: -1538.0663 - accuracy: 0.0875
Epoch 32/150
32/32 [==============================] - 0s 2ms/step - loss: -1685.0128 - accuracy: 0.0875
Epoch 33/150
32/32 [==============================] - 0s 2ms/step - loss: -1840.5487 - accuracy: 0.0875
Epoch 34/150
32/32 [==============================] - 0s 2ms/step - loss: -2003.2933 - accuracy: 0.0875
Epoch 35/150
32/32 [==============================] - 0s 2ms/step - loss: -2174.7251 - accuracy: 0.0875
Epoch 36/150
32/32 [==============================] - 0s 2ms/step - loss: -2354.0579 - accuracy: 0.0875
Epoch 37/150
32/32 [==============================] - 0s 2ms/step - loss: -2541.6370 - accuracy: 0.0875
Epoch 38/150
32/32 [==============================] - 0s 2ms/step - loss: -2740.6794 - accuracy: 0.0875
Epoch 39/150
32/32 [==============================] - 0s 2ms/step - loss: -2945.4424 - accuracy: 0.0875
Epoch 40/150
32/32 [==============================] - 0s 2ms/step - loss: -3159.1799 - accuracy: 0.0875
Epoch 41/150
32/32 [==============================] - 0s 2ms/step - loss: -3384.0740 - accuracy: 0.0875
Epoch 42/150
32/32 [==============================] - 0s 2ms/step - loss: -3615.2920 - accuracy: 0.0875
Epoch 43/150
32/32 [==============================] - 0s 2ms/step - loss: -3857.2017 - accuracy: 0.0875
Epoch 44/150
32/32 [==============================] - 0s 2ms/step - loss: -4107.5386 - accuracy: 0.0875
Epoch 45/150
32/32 [==============================] - 0s 2ms/step - loss: -4367.5752 - accuracy: 0.0875
Epoch 46/150
32/32 [==============================] - 0s 2ms/step - loss: -4638.5664 - accuracy: 0.0875
Epoch 47/150
32/32 [==============================] - 0s 2ms/step - loss: -4917.9761 - accuracy: 0.0875
Epoch 48/150
32/32 [==============================] - 0s 2ms/step - loss: -5206.4561 - accuracy: 0.0875
Epoch 49/150
32/32 [==============================] - 0s 2ms/step - loss: -5507.2939 - accuracy: 0.0875
Epoch 50/150
32/32 [==============================] - 0s 2ms/step - loss: -5815.1206 - accuracy: 0.0875
Epoch 51/150
32/32 [==============================] - 0s 2ms/step - loss: -6136.2900 - accuracy: 0.0875
Epoch 52/150
32/32 [==============================] - 0s 2ms/step - loss: -6466.8213 - accuracy: 0.0875
Epoch 53/150
32/32 [==============================] - 0s 2ms/step - loss: -6805.5317 - accuracy: 0.0875
Epoch 54/150
32/32 [==============================] - 0s 2ms/step - loss: -7157.4121 - accuracy: 0.0875
Epoch 55/150
32/32 [==============================] - 0s 2ms/step - loss: -7519.0957 - accuracy: 0.0875
Epoch 56/150
32/32 [==============================] - 0s 2ms/step - loss: -7890.7783 - accuracy: 0.0875
Epoch 57/150
32/32 [==============================] - 0s 2ms/step - loss: -8275.2432 - accuracy: 0.0875
Epoch 58/150
32/32 [==============================] - 0s 2ms/step - loss: -8667.3652 - accuracy: 0.0875
Epoch 59/150
32/32 [==============================] - 0s 2ms/step - loss: -9071.6592 - accuracy: 0.0875
Epoch 60/150
32/32 [==============================] - 0s 2ms/step - loss: -9486.9453 - accuracy: 0.0875
Epoch 61/150
32/32 [==============================] - 0s 2ms/step - loss: -9914.3389 - accuracy: 0.0875
Epoch 62/150
32/32 [==============================] - 0s 2ms/step - loss: -10349.3691 - accuracy: 0.0875
Epoch 63/150
32/32 [==============================] - 0s 2ms/step - loss: -10795.4805 - accuracy: 0.0875
Epoch 64/150
32/32 [==============================] - 0s 2ms/step - loss: -11256.3984 - accuracy: 0.0875
Epoch 65/150
32/32 [==============================] - 0s 2ms/step - loss: -11724.9473 - accuracy: 0.0875
Epoch 66/150
32/32 [==============================] - 0s 2ms/step - loss: -12203.3916 - accuracy: 0.0875
Epoch 67/150
32/32 [==============================] - 0s 2ms/step - loss: -12698.4648 - accuracy: 0.0875
Epoch 68/150
32/32 [==============================] - 0s 2ms/step - loss: -13195.1113 - accuracy: 0.0875
Epoch 69/150
32/32 [==============================] - 0s 2ms/step - loss: -13708.3154 - accuracy: 0.0875
Epoch 70/150
32/32 [==============================] - 0s 2ms/step - loss: -14232.3242 - accuracy: 0.0875
Epoch 71/150
32/32 [==============================] - 0s 2ms/step - loss: -14769.1660 - accuracy: 0.0875
Epoch 72/150
32/32 [==============================] - 0s 2ms/step - loss: -15311.0010 - accuracy: 0.0875
Epoch 73/150
32/32 [==============================] - 0s 2ms/step - loss: -15873.1289 - accuracy: 0.0875
Epoch 74/150
32/32 [==============================] - 0s 2ms/step - loss: -16440.6094 - accuracy: 0.0875
Epoch 75/150
32/32 [==============================] - 0s 2ms/step - loss: -17022.0195 - accuracy: 0.0875
Epoch 76/150
32/32 [==============================] - 0s 2ms/step - loss: -17615.7344 - accuracy: 0.0875
Epoch 77/150
32/32 [==============================] - 0s 2ms/step - loss: -18217.5605 - accuracy: 0.0875
Epoch 78/150
32/32 [==============================] - 0s 2ms/step - loss: -18839.5195 - accuracy: 0.0875
Epoch 79/150
32/32 [==============================] - 0s 2ms/step - loss: -19465.7559 - accuracy: 0.0875
Epoch 80/150
32/32 [==============================] - 0s 2ms/step - loss: -20110.2246 - accuracy: 0.0875
Epoch 81/150
32/32 [==============================] - 0s 2ms/step - loss: -20768.1230 - accuracy: 0.0875
Epoch 82/150
32/32 [==============================] - 0s 2ms/step - loss: -21432.0254 - accuracy: 0.0875
Epoch 83/150
32/32 [==============================] - 0s 2ms/step - loss: -22112.8848 - accuracy: 0.0875
Epoch 84/150
32/32 [==============================] - 0s 2ms/step - loss: -22802.9531 - accuracy: 0.0875
Epoch 85/150
32/32 [==============================] - 0s 2ms/step - loss: -23511.8906 - accuracy: 0.0875
Epoch 86/150
32/32 [==============================] - 0s 2ms/step - loss: -24226.4824 - accuracy: 0.0875
Epoch 87/150
32/32 [==============================] - 0s 2ms/step - loss: -24961.9102 - accuracy: 0.0875
Epoch 88/150
32/32 [==============================] - 0s 2ms/step - loss: -25699.7754 - accuracy: 0.0875
Epoch 89/150
32/32 [==============================] - 0s 2ms/step - loss: -26451.2656 - accuracy: 0.0875
Epoch 90/150
32/32 [==============================] - 0s 2ms/step - loss: -27224.6699 - accuracy: 0.0875
Epoch 91/150
32/32 [==============================] - 0s 2ms/step - loss: -28000.7500 - accuracy: 0.0875
Epoch 92/150
32/32 [==============================] - 0s 2ms/step - loss: -28800.6133 - accuracy: 0.0875
Epoch 93/150
32/32 [==============================] - 0s 2ms/step - loss: -29604.4199 - accuracy: 0.0875
Epoch 94/150
32/32 [==============================] - 0s 2ms/step - loss: -30417.6895 - accuracy: 0.0875
Epoch 95/150
32/32 [==============================] - 0s 2ms/step - loss: -31255.5977 - accuracy: 0.0875
Epoch 96/150
32/32 [==============================] - 0s 2ms/step - loss: -32093.0254 - accuracy: 0.0875
Epoch 97/150
32/32 [==============================] - 0s 2ms/step - loss: -32951.9531 - accuracy: 0.0875
Epoch 98/150
32/32 [==============================] - 0s 2ms/step - loss: -33820.2148 - accuracy: 0.0875
Epoch 99/150
32/32 [==============================] - 0s 2ms/step - loss: -34698.8711 - accuracy: 0.0875
Epoch 100/150
32/32 [==============================] - 0s 2ms/step - loss: -35600.1836 - accuracy: 0.0875
Epoch 101/150
32/32 [==============================] - 0s 2ms/step - loss: -36502.4414 - accuracy: 0.0875
Epoch 102/150
32/32 [==============================] - 0s 2ms/step - loss: -37427.1914 - accuracy: 0.0875
Epoch 103/150
32/32 [==============================] - 0s 2ms/step - loss: -38358.7461 - accuracy: 0.0875
Epoch 104/150
32/32 [==============================] - 0s 3ms/step - loss: -39304.5859 - accuracy: 0.0875
Epoch 105/150
32/32 [==============================] - 0s 2ms/step - loss: -40261.3906 - accuracy: 0.0875
Epoch 106/150
32/32 [==============================] - 0s 3ms/step - loss: -41242.9492 - accuracy: 0.0875
Epoch 107/150
32/32 [==============================] - 0s 2ms/step - loss: -42220.4102 - accuracy: 0.0875
Epoch 108/150
32/32 [==============================] - 0s 2ms/step - loss: -43223.3555 - accuracy: 0.0875
Epoch 109/150
32/32 [==============================] - 0s 2ms/step - loss: -44228.4453 - accuracy: 0.0875
Epoch 110/150
32/32 [==============================] - 0s 2ms/step - loss: -45268.8789 - accuracy: 0.0875
Epoch 111/150
32/32 [==============================] - 0s 2ms/step - loss: -46292.0703 - accuracy: 0.0875
Epoch 112/150
32/32 [==============================] - 0s 2ms/step - loss: -47353.5352 - accuracy: 0.0875
Epoch 113/150
32/32 [==============================] - 0s 2ms/step - loss: -48418.4883 - accuracy: 0.0875
Epoch 114/150
32/32 [==============================] - 0s 2ms/step - loss: -49499.4258 - accuracy: 0.0875
Epoch 115/150
32/32 [==============================] - 0s 2ms/step - loss: -50589.3789 - accuracy: 0.0875
Epoch 116/150
32/32 [==============================] - 0s 2ms/step - loss: -51699.7383 - accuracy: 0.0875
Epoch 117/150
32/32 [==============================] - 0s 2ms/step - loss: -52820.5391 - accuracy: 0.0875
Epoch 118/150
32/32 [==============================] - 0s 2ms/step - loss: -53957.5586 - accuracy: 0.0875
Epoch 119/150
32/32 [==============================] - 0s 2ms/step - loss: -55105.5938 - accuracy: 0.0875
Epoch 120/150
32/32 [==============================] - 0s 2ms/step - loss: -56272.7109 - accuracy: 0.0875
Epoch 121/150
32/32 [==============================] - 0s 2ms/step - loss: -57442.8516 - accuracy: 0.0875
Epoch 122/150
32/32 [==============================] - 0s 2ms/step - loss: -58641.4609 - accuracy: 0.0875
Epoch 123/150
32/32 [==============================] - 0s 2ms/step - loss: -59847.9102 - accuracy: 0.0875
Epoch 124/150
32/32 [==============================] - 0s 2ms/step - loss: -61060.9414 - accuracy: 0.0875
Epoch 125/150
32/32 [==============================] - 0s 2ms/step - loss: -62304.1836 - accuracy: 0.0875
Epoch 126/150
32/32 [==============================] - 0s 2ms/step - loss: -63539.6484 - accuracy: 0.0875
Epoch 127/150
32/32 [==============================] - 0s 2ms/step - loss: -64805.9258 - accuracy: 0.0875
Epoch 128/150
32/32 [==============================] - 0s 2ms/step - loss: -66088.5703 - accuracy: 0.0875
Epoch 129/150
32/32 [==============================] - 0s 2ms/step - loss: -67363.4922 - accuracy: 0.0875
Epoch 130/150
32/32 [==============================] - 0s 2ms/step - loss: -68670.7812 - accuracy: 0.0875
Epoch 131/150
32/32 [==============================] - 0s 2ms/step - loss: -69992.9766 - accuracy: 0.0875
Epoch 132/150
32/32 [==============================] - 0s 2ms/step - loss: -71313.0625 - accuracy: 0.0875
Epoch 133/150
32/32 [==============================] - 0s 2ms/step - loss: -72667.1328 - accuracy: 0.0875
Epoch 134/150
32/32 [==============================] - 0s 2ms/step - loss: -74019.8516 - accuracy: 0.0875
Epoch 135/150
32/32 [==============================] - 0s 2ms/step - loss: -75389.9688 - accuracy: 0.0875
Epoch 136/150
32/32 [==============================] - 0s 2ms/step - loss: -76777.5703 - accuracy: 0.0875
Epoch 137/150
32/32 [==============================] - 0s 2ms/step - loss: -78179.8828 - accuracy: 0.0875
Epoch 138/150
32/32 [==============================] - 0s 2ms/step - loss: -79603.0938 - accuracy: 0.0875
Epoch 139/150
32/32 [==============================] - 0s 2ms/step - loss: -81012.4375 - accuracy: 0.0875
Epoch 140/150
32/32 [==============================] - 0s 2ms/step - loss: -82478.3672 - accuracy: 0.0875
Epoch 141/150
32/32 [==============================] - 0s 2ms/step - loss: -83914.6875 - accuracy: 0.0875
Epoch 142/150
32/32 [==============================] - 0s 2ms/step - loss: -85403.7891 - accuracy: 0.0875
Epoch 143/150
32/32 [==============================] - 0s 3ms/step - loss: -86884.9297 - accuracy: 0.0875
Epoch 144/150
32/32 [==============================] - 0s 2ms/step - loss: -88390.1016 - accuracy: 0.0875
Epoch 145/150
32/32 [==============================] - 0s 2ms/step - loss: -89913.6797 - accuracy: 0.0875
Epoch 146/150
32/32 [==============================] - 0s 2ms/step - loss: -91438.5781 - accuracy: 0.0875
Epoch 147/150
32/32 [==============================] - 0s 2ms/step - loss: -92992.1016 - accuracy: 0.0875
Epoch 148/150
32/32 [==============================] - 0s 2ms/step - loss: -94552.2578 - accuracy: 0.0875
Epoch 149/150
32/32 [==============================] - 0s 2ms/step - loss: -96135.6562 - accuracy: 0.0875
Epoch 150/150
32/32 [==============================] - 0s 2ms/step - loss: -97738.4219 - accuracy: 0.0875

In [56]:
# Guardardamos la red.
path = '/content/drive/MyDrive/Colab Notebooks/Statistical Learning II/Laboratorio2/' 
clasificador.save(path + '6_6_sig_out.h5')

In [57]:
# Cargamos la red.
new_model = keras.models.load_model(path + '6_6_sig_out.h5')

In [58]:
#predicciones
y_preds = new_model.predict(X_test)
y_preds

array([[1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.]], dtype=float32)

In [59]:
y_preds = (y_preds >= 0.5)
y_preds

array([[ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True]])

In [60]:
from sklearn.metrics import accuracy_score

In [61]:
accuracy_score(y_test, y_preds)

0.105

In [66]:
#KFolds
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [67]:
def red_v1():
  #base secuencial para definir la estructura de la Red (SIEMPRE INICIAR CON SQUENTIAL)
  clasificador = Sequential()

  #primera capa oclta
  clasificador.add(Dense(input_dim = 11, units=8, activation='relu', kernel_initializer='TruncatedNormal'))

  #segunda capa oculta
  clasificador.add(Dense(units=8, activation='relu', kernel_initializer='TruncatedNormal'))

  #capa de salida
  clasificador.add(Dense(units=1, activation='sigmoid', kernel_initializer='TruncatedNormal'))

  #parametros de optimización
  clasificador.compile(optimizer='SGD', loss='binary_crossentropy', metrics=['accuracy'])

  return clasificador

In [68]:
clasificador = KerasClassifier(build_fn=red_v1, batch_size=25, nb_epoch=1000)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  """Entry point for launching an IPython kernel.

In [69]:
kfolds = KFold(n_splits=10, shuffle=True)

accs = cross_val_score(clasificador, X=X_train, y=y_train, cv=kfolds, verbose=1, n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    6.7s finished
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
10 fits failed out of a total of 10.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
2 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/keras/wrappers/scikit_learn.py", line 236, in fit
    return super(KerasClassifier, self).fit(x, y, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/keras/wrappers/scikit_learn.py", line 164, in fit
    history = self.model.fit(x, y, **fit_args)
  File "/usr/local/lib/python3.7/dist-packages/keras/utils/traceback_utils.py", line 67, in error_handler
    raise e.with_traceback(filtered_tb) from None
  File "/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/func_graph.py", line 1147, in autograph_handler
    raise e.ag_error_metadata.to_exception(e)
ValueError: in user code:

    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 1021, in train_function  *
        return step_function(self, iterator)
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 1010, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 1000, in run_step  **
        outputs = model.train_step(data)
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 859, in train_step
        y_pred = self(x, training=True)
    File "/usr/local/lib/python3.7/dist-packages/keras/utils/traceback_utils.py", line 67, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/input_spec.py", line 264, in assert_input_compatibility
        raise ValueError(f'Input {input_index} of layer "{layer_name}" is '

    ValueError: Input 0 of layer "sequential" is incompatible with the layer: expected shape=(None, 11), found shape=(None, 19)


--------------------------------------------------------------------------------
2 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/keras/wrappers/scikit_learn.py", line 236, in fit
    return super(KerasClassifier, self).fit(x, y, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/keras/wrappers/scikit_learn.py", line 164, in fit
    history = self.model.fit(x, y, **fit_args)
  File "/usr/local/lib/python3.7/dist-packages/keras/utils/traceback_utils.py", line 67, in error_handler
    raise e.with_traceback(filtered_tb) from None
  File "/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/func_graph.py", line 1147, in autograph_handler
    raise e.ag_error_metadata.to_exception(e)
ValueError: in user code:

    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 1021, in train_function  *
        return step_function(self, iterator)
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 1010, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 1000, in run_step  **
        outputs = model.train_step(data)
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 859, in train_step
        y_pred = self(x, training=True)
    File "/usr/local/lib/python3.7/dist-packages/keras/utils/traceback_utils.py", line 67, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/input_spec.py", line 264, in assert_input_compatibility
        raise ValueError(f'Input {input_index} of layer "{layer_name}" is '

    ValueError: Input 0 of layer "sequential_1" is incompatible with the layer: expected shape=(None, 11), found shape=(None, 19)


--------------------------------------------------------------------------------
2 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/keras/wrappers/scikit_learn.py", line 236, in fit
    return super(KerasClassifier, self).fit(x, y, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/keras/wrappers/scikit_learn.py", line 164, in fit
    history = self.model.fit(x, y, **fit_args)
  File "/usr/local/lib/python3.7/dist-packages/keras/utils/traceback_utils.py", line 67, in error_handler
    raise e.with_traceback(filtered_tb) from None
  File "/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/func_graph.py", line 1147, in autograph_handler
    raise e.ag_error_metadata.to_exception(e)
ValueError: in user code:

    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 1021, in train_function  *
        return step_function(self, iterator)
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 1010, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 1000, in run_step  **
        outputs = model.train_step(data)
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 859, in train_step
        y_pred = self(x, training=True)
    File "/usr/local/lib/python3.7/dist-packages/keras/utils/traceback_utils.py", line 67, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/input_spec.py", line 264, in assert_input_compatibility
        raise ValueError(f'Input {input_index} of layer "{layer_name}" is '

    ValueError: Input 0 of layer "sequential_2" is incompatible with the layer: expected shape=(None, 11), found shape=(None, 19)


--------------------------------------------------------------------------------
2 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/keras/wrappers/scikit_learn.py", line 236, in fit
    return super(KerasClassifier, self).fit(x, y, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/keras/wrappers/scikit_learn.py", line 164, in fit
    history = self.model.fit(x, y, **fit_args)
  File "/usr/local/lib/python3.7/dist-packages/keras/utils/traceback_utils.py", line 67, in error_handler
    raise e.with_traceback(filtered_tb) from None
  File "/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/func_graph.py", line 1147, in autograph_handler
    raise e.ag_error_metadata.to_exception(e)
ValueError: in user code:

    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 1021, in train_function  *
        return step_function(self, iterator)
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 1010, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 1000, in run_step  **
        outputs = model.train_step(data)
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 859, in train_step
        y_pred = self(x, training=True)
    File "/usr/local/lib/python3.7/dist-packages/keras/utils/traceback_utils.py", line 67, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/input_spec.py", line 264, in assert_input_compatibility
        raise ValueError(f'Input {input_index} of layer "{layer_name}" is '

    ValueError: Input 0 of layer "sequential_3" is incompatible with the layer: expected shape=(None, 11), found shape=(None, 19)


--------------------------------------------------------------------------------
2 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/keras/wrappers/scikit_learn.py", line 236, in fit
    return super(KerasClassifier, self).fit(x, y, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/keras/wrappers/scikit_learn.py", line 164, in fit
    history = self.model.fit(x, y, **fit_args)
  File "/usr/local/lib/python3.7/dist-packages/keras/utils/traceback_utils.py", line 67, in error_handler
    raise e.with_traceback(filtered_tb) from None
  File "/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/func_graph.py", line 1147, in autograph_handler
    raise e.ag_error_metadata.to_exception(e)
ValueError: in user code:

    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 1021, in train_function  *
        return step_function(self, iterator)
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 1010, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 1000, in run_step  **
        outputs = model.train_step(data)
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 859, in train_step
        y_pred = self(x, training=True)
    File "/usr/local/lib/python3.7/dist-packages/keras/utils/traceback_utils.py", line 67, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/input_spec.py", line 264, in assert_input_compatibility
        raise ValueError(f'Input {input_index} of layer "{layer_name}" is '

    ValueError: Input 0 of layer "sequential_4" is incompatible with the layer: expected shape=(None, 11), found shape=(None, 19)


  warnings.warn(some_fits_failed_message, FitFailedWarning)

In [70]:
accs

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan])

In [71]:
accs.mean()

nan